@import "mocha.css";

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
}

tooltip {
  background: @base;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: @crust;
}

#workspaces button {
  padding: 6px;
  color: @surface2;
  margin-right: 5px;
}

#workspaces button.active {
  color: @crust;
  background: @text;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: @crust;
  background: @green;
  border-radius: 10px;
}

#workspaces button:hover {
  background: @crust;
  color: @text;
  border-radius: 10px;
}

#custom-power_profile,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#custom-microphone,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#taskbar,
#backlight {
  background: @base;
  opacity: 0.9;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 5px;
  border: 1px solid @mantle;
}

#temperature {
  border-radius: 0px 0px 0px 0px;
}

#temperature.critical {
  color: @maroon;
}

#backlight {
  border-radius: 10px 0px 0px 10px;
}

#tray {
  border-radius: 10px;
  margin-right: 10px;
}

#workspaces {
  background: @base;
  border-radius: 10px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#custom-power_profile {
  color: @green;
  border-left: 0px;
  border-right: 0px;
}

#window {
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

#clock {
  color: @peach;
  border-radius: 10px 10px 10px 10px;
  margin-right: 5px;
  border-right: 0px;
}

#network {
  color: @yellow;
  border-radius: 10px 0px 0px 10px;
  border-left: 0px;
  border-right: 0px;
}

#bluetooth {
  color: @blue;
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
}

#pulseaudio {
  color: @blue;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio.microphone,
#custom-microphone {
  color: @mauve;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px 10px 10px 0px;
  margin-right: 5px;
}

#wireplumber {
  color: @blue;
  border-left: 0px;
  border-right: 0px;
  margin-right: 5px;
}

#pipewire.microphone {
  color: @mauve;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px 10px 10px 0px;
  margin-right: 5px;
}

#battery {
  color: @green;
  border-radius: 10px 10px 10px 10px;
  margin-right: 10px;
  border-left: 0px;
}

#custom-weather {
  border-radius: 10px 10px 10px 10px;
  border-right: 0px;
  margin-left: 5px;
}

#taskbar {
  border-radius: 10px;
  margin-left: 5px;
}

#taskbar button {
  border-radius: 3px 3px 3px 3px;
  padding: 0 5px 0 5px;
  margin: 3px 1px;
  color: #ffffff;
  background-color: rgba(120, 118, 117, 0);
}

#taskbar button.active {
  background-color: rgba(120, 118, 117, 0.5);
}
